## A. Model Inference

In this section, predictions will be made on new data or inference using the pre-trained K-means model.

In [1]:
# Melakukan import libraries yang akan digunakan
import pandas as pd
import pickle

In [2]:
# Melakukan load model dan file-file lain yang dibutuhkan
with open('model_scaler.pkl', 'rb') as file_1:
  scaler = pickle.load(file_1)
with open('model_pca.pkl', 'rb') as file_2:
  pca = pickle.load(file_2)
with open('model_km.pkl', 'rb') as file_3:
  km = pickle.load(file_3)

In [3]:
# Menjadikan data inference menjadi dataframe
data_inf = pd.read_csv('data_inference.csv')
data_inf

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,...,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,PURCHASES_FREQUENCY_CATEGORY,BALANCE_CATEGORY,KATEGORI,Kategori
0,5548,3473.463277,1.0,1182.95,718.75,464.2,0.0,1.0,0.583333,1.0,...,36,6000.0,955.667752,1243.191013,0.0,12,Frequently Purchase,Frequently Update,Frequently Done,Not Frequently Purchase

In [4]:
# Melakukan drop terhadap kolom CUST_ID
kolom = ['CUST_ID','PURCHASES_FREQUENCY_CATEGORY','BALANCE_CATEGORY','KATEGORI','Kategori']
data_inf.drop(columns=kolom,inplace=True)
data_inf

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,3473.463277,1.0,1182.95,718.75,464.2,0.0,1.0,0.583333,1.0,0.0,0,36,6000.0,955.667752,1243.191013,0.0,12

In [5]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
# Melakukan scaling dan dimension reduction
inf_scaled = scaler.transform(data_inf)
inf_scaled_pca = pca.transform(inf_scaled)

In [7]:
# Melakukan prediksi cluster terhadap data inference
prediksi_cluster = km.predict(inf_scaled_pca)
print(f'Prediksi Cluster: {int(prediksi_cluster)}')

Prediksi Cluster: 0

Based on the information above, the inference data is predicted by the model to belong to cluster 0.